@import '../../constants/scss/colors';
@import '../../constants/scss/variables';
@import '../../constants/scss/mixins';

@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@300;400;500;700&family=DM+Serif+Display&display=swap');
$DM: 'DM Serif Display', serif;
$Archivo: 'Archivo', sans-serif;

$teal: #009ba7;
$grey: #a9a6a6;
$carersPrimaryColor: #cac492;
$purple: #ff0ac9;
$yellow: #ffba0a;

@mixin BGConfig($size, $position) {
  background-position: $position;
  background-size: $size;
  background-repeat: no-repeat;
}

#Carers_intro {
  display: flex;
  margin-bottom: 7rem;

  .introTextContent {
    // background: #a15c5c;
    width: 60%;
    .quoteSrc {
      display: flex;
      align-items: center;
      .quote_dash {
        height: 0.75rem;
        width: 50px;
        background: $carersPrimaryColor;
        margin-right: 1rem;
      }
      #quoteSource {
        font-size: 30px;
        font-family: $Archivo;
      }
    }
    #quote {
      font-family: $DM;
      text-transform: uppercase;
      font-size: 78px;
      font-weight: normal;
      //   max-width: 90%;
      margin-bottom: 3rem;
      line-height: auto;
    }
    #quoteText {
      font-family: $Archivo;
      font-style: normal;
      font-weight: normal;
      font-size: 22px;
      line-height: 31px;
      width: 80%;
      color: rgba(0, 0, 0, 0.66);
      margin-bottom: 4rem;
    }
    #watchStory {
      background: #cac492;
      height: 64px;
      width: 248px;
      display: flex;
      align-items: center;
      border-radius: 300px;
      // padding: 1rem 0;
      cursor: pointer;

      .icon {
        height: '50px';
        width: '50px';
        background-image: url(../../Assets/icons/tealPlayBtn.svg);
        @include BGConfig(80%, center);
      }

      .text {
        font-size: 22px;
        color: white;
      }
    }
  }

  .introVideoButton {
    width: 40%;
    // background: rgb(201, 152, 152);

    .hexagon {
      height: 600px;
      width: 500px;
      margin-top: -30px;
      background: url(../../Assets/images/Careers.svg);
      @include BGConfig(100%, top);
      position: relative;
    }
  }
}

#Carer_goals {
  // background: url(../../Assets/images/carers.jpg);
  @include BGConfig(120%, center);
  height: max-content;
  border-radius: 10px;

  #forSiblings {
    padding: 2rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    iframe {
      border-radius: 10px;
      margin: 1rem 0;
    }
  }

  .bgLayer {
    background: $carersPrimaryColor;
    width: 100%;
    padding: 1rem 2rem;
    border-radius: 10px;
    padding-bottom: 4rem;
    height: max-content;
  }
  // #heartIcon {
  //   height: 100px;
  //   width: 100px;
  //   background: url(../../Assets/icons/tealHeartIcon.svg);
  //   @include BGConfig(100%, center);
  //   // margin-top: 6rem;
  // }
  p {
    font-family: $Archivo;
    font-style: normal;
    font-weight: normal;
    font-size: 26.4px;
    line-height: 47.2px;
    color: #ffffff;
    margin: 2rem 0;
  }
}

#forYou {
  width: 859px;
  height: 652px;
  background: #ffffff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.178);
  border-radius: 12px;
  padding: 1rem 2rem;
  margin: -4rem 0 0 2rem;
  p {
    font-size: 23px;
    line-height: 41px;
    color: rgba(0, 0, 0, 0.49);
  }
  h1 {
    font-family: $DM;
    font-weight: normal;
    font-size: 55px;
    line-height: 98px;
    color: #000000;
    position: relative;
    margin-bottom: 1rem;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      bottom: 10px;
      width: 50px;
      height: 10px;
      background: $carersPrimaryColor;
      border-radius: 10px;
    }
  }
}

#availiableCourses {
  margin-top: 6rem;
  h2 {
    font-family: $DM;
    font-style: normal;
    font-weight: normal;
    font-size: 55px;
    line-height: 98px;
  }
  .courses {
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
    .carersPrimaryColorTag {
      background: $carersPrimaryColor;
      width: 100px;
      height: 36px;
    }
    .courseContainer {
      // position: relative;
      width: 582px;
      height: max-content;
      background: #ffffff;
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
      border-radius: 12px;
      padding: 2rem;
      margin-top: -1rem;
      // display: none;

      h3 {
        font-family: $Archivo;
        font-style: normal;
        font-weight: normal;
        font-size: 33px;
        line-height: 41px;
        color: #000000;
        margin-bottom: 1rem;
      }
      #ProjectMeAim {
        font-style: normal;
        font-weight: normal;
        text-justify: inter-word;
        text-align: justify;

        font-size: 22px;
        line-height: 27px;
        color: rgba(0, 0, 0, 0.58);
        margin-bottom: 1rem;
      }
      ul {
        li {
          margin-bottom: 2rem;
          font-style: normal;
          font-weight: normal;
          font-size: 22px;
          line-height: 27px;
          color: #000000;

          list-style: url(../../Assets/icons/hyphen.svg);
          list-style-position: unset;
        }
      }
      .getCourse {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 469px;
        height: 76px;
        background: $carersPrimaryColor;
        border-radius: 900px;
        color: white;
        cursor: pointer;

        font-style: normal;
        font-weight: 500;
        font-size: 25px;
        line-height: 31px;
        color: #ffffff;
      }
    }
  }
}

// Tablet
@media (min-device-width: 800px) and (max-device-width: 1280px) {
  #Carers_intro {
    .introTextContent {
      #quote {
        line-height: normal;
      }
    }
    .introVideoButton {
      .hexagon {
        height: 400px;
        width: 400px;
        @include BGConfig(80%, center);
      }
    }
  }
  .courses {
    flex-direction: column;

    .carersCourse {
      // margin: 0 auto;
      margin-bottom: 6rem;
    }
  }
  #Carer_goals {
    min-height: 80vh;
    .bgLayer {
      min-height: 80vh;
    }
  }
}

// Mobile
@media only screen and (min-device-width: 300px) and (max-device-width: 800px) {
  #Carers_intro {
    flex-direction: column-reverse;
    .introTextContent {
      width: 100%;
      margin-top: -2rem;
      .quoteSrc {
        #quoteSource {
          font-size: 18px;
        }
      }
      #quote {
        font-size: 24px;
        line-height: normal;
        letter-spacing: 2px;
        margin: 1rem 0;
      }
      #quoteText {
        width: auto;
      }
      // #watchStory {
      //   width: 100%;
      // }
    }
    .introVideoButton {
      width: 100%;
      .hexagon {
        height: 300px;
        width: 300px;
        @include BGConfig(70%, top);
        display: block;
        margin: 0 auto;
      }
    }
  }
  #Carer_goals {
    .bgLayer {
      #heartIcon {
        height: 50px;
        width: 50px;
      }
      p {
        font-size: 18px;
        line-height: 24px;
        letter-spacing: normal;
      }
    }
  }
  #forYou {
    width: 90%;
    h1 {
      font-size: 23px;
      line-height: normal;
      letter-spacing: normal;

      &::before {
        bottom: -10px;
      }
    }

    p {
      font-size: 18px;
      line-height: normal;
      letter-spacing: normal;
    }
  }

  #availiableCourses {
    h2 {
      font-size: 36px;
      line-height: normal;
    }
    .courses {
      flex-direction: column;

      .carersCourse {
        margin-bottom: 6rem;
        .courseContainer {
          width: 100%;
          h3 {
            font-size: 23px;
            line-height: normal;
          }
          // #ProjectMeAim {
          // }
          ul {
            li {
              font-size: 15px;
              margin-bottom: 1rem;
            }
          }
          .getCourse {
            width: 100%;
            font-size: 17px;
          }
        }
      }
    }
  }
}
