@font-face {
  font-family: ArchivoBold;
  src: url('../../assetz/fonts/Archivo-Bold.ttf');
}
@font-face {
  font-family: ArchivoSemiBold;
  src: url('../../assetz/fonts/Archivo-SemiBold.ttf');
}
@font-face {
  font-family: ArchivoMedium;
  src: url('../../assetz/fonts/Archivo-Medium.ttf');
}
@font-face {
  font-family: ArchivoRegular;
  src: url('../../assetz/fonts/Archivo-Regular.ttf');
}
@font-face {
  font-family: ArchivoLight;
  src: url('../../assetz/fonts/Archivo-Light.ttf');
}
@font-face {
  font-family: DMSerifDisplayRegular;
  src: url('../../assetz/fonts/DMSerifDisplay-Regular.ttf');
}
