$tablet: 850px;
@import "../../constants/scss/colors";
@import "../../constants/scss/default";
@import "../../constants/scss/variables";
@import "../../constants/scss/mixins";
@import "../../constants/scss/framework";

.admin-auth {
  max-width: 400px;
  margin: auto;
  margin-top: 100px;
  .title {
    font-size: large;
    margin-left: 1.5em;
    color: $black;
  }
  .form-container {
    width: 30vw;
    padding: 2em;
    box-shadow: $shadow;
    border-radius: 1em;
    margin-top: auto;
    @include small-laptop() {
      width: 50vw;
    }
    @include tablet() {
      width: 60vw;
    }
    @include smartphone() {
      width: 90vw;
    }
    .form-input-label {
    }
    .form-input {
      border: 0.1em solid lighten($color: $tint, $amount: 10);
      color: $black;
    }
    .auth-loading {
      height: 3em;
      width: 3em;
    }
    .login-btn {
      margin: 0 auto;
      width: 60%;
      font-size: 1.4em;
      padding: 1.5em 0;
    }
  }
}
