@import "../../../constants/scss/colors";
@import "../../../constants/scss/variables";
@import "../../../constants/scss/mixins";

.add-employee {
  width: 32vw;
  border-radius: 1em;
  margin-top: auto;
  @include small-laptop() {
    width: 50vw;
  }
  @include tablet() {
    width: 60vw;
  }
  @include smartphone() {
    width: 90vw;
  }
  // border-radius: 0.5em;
  padding: 2em;
  flex-direction: column;
  .add-employee-head {
    width: 100%;
    justify-content: space-between;
    span {
      font-family: "FiraBold";
    }
    .close-icon {
      cursor: pointer;
      height: 2.5em;
      width: 2.5em;
      background-color: $danger;
      box-shadow: $shadow;
      border-radius: 50%;
    }
  }
  .group {
    width: 100%;
  }
  .branch-code {
    align-items: flex-end;
    width: 100%;
    .group {
      width: 100%;
    }
    .reload-icon {
      cursor: pointer;
      height: 3.5em;
      width: 4.2em;
      border-radius: 0.5em;
      background-color: $white;
      box-shadow: $shadow;
    }
  }
  .add-employee-btn {
    height: 2.2em;
  }
}
