@import "../../../constants/scss/colors";
@import "../../../constants/scss/variables";
@import "../../../constants/scss/mixins";

.admin-dashboard-layout {
  height: 100vh;
  width: 100vw;
  justify-content: space-between;
  // background-image: linear-gradient(#f5f6f7ec, #7b7b7ce7);
  .main {
    width: 82%;
    min-height: calc(100vh);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);

    .admin-children-container {
      width: 100%;
      height: calc(100vh - 7em);
      display: flex;
      flex-direction: column;
    }
  }
  .mainExpand {
    width: 94%;
  }
}

.dropdownLink {
  display: flex;
  align-items: center;
  padding: 1em;
  cursor: pointer;
  img {
    height: 1.8em;
    width: 1.8em;
  }
  h4 {
    font-weight: 500;
    padding: 0 0.5em;
    font-size: 1.2em;
    text-align: center;
  }
}
.logout {
  h4 {
    color: $danger;
  }
}
