@import "../../../constants/scss/colors";
@import "../../../constants/scss/variables";
@import "../../../constants/scss/mixins";

.sidebar {
  width: 18%;
  padding: 0 1em;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  .logo-container {
    height: 7em;
    .logo {
      width: 8em;
      transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    .logoIcon {
      width: 3em;
    }
    span {
      font-size: 1.6em;
      margin-left: 0.5em;
      font-weight: 600;
      letter-spacing: 1.5px;
      text-shadow: $t-shadow;
      color: lighten($color: $black, $amount: 20);
      transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    .collapsed-logo-text {
      font-size: 1.2em;
    }
  }
  .sidebar-links {
    padding: 2em 0;
  }
}
.sidebarCollapsed {
  width: 6%;
}
