@import "../../constants/scss/colors";
@import "../../constants/scss/variables";
@import "../../constants/scss/mixins";

.popup-container {
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transform: scale(1.3);
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(21, 17, 17, 0.527);
  display: flex;
  align-items: center;
}
.popup-content {
  border-radius: 1em;
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  box-shadow: $shadow;
  background-color: white;
  margin: auto;
  // padding: 1em;
}

.show {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}
