@import "../../../constants/scss/colors";
@import "../../../constants/scss/variables";
@import "../../../constants/scss/mixins";

.has-data {
  padding: 2em;
  .trash-preview {
    cursor: pointer;
    color: $white;
    width: 20%;
    padding: 1em;
    border-radius: 0.5em;
    box-shadow: $shadow;
    margin-right: 2em;
    text-align: center;
    .trash-icon {
      height: 6em;
      width: 6em;
      border-radius: 0.5em;
      box-shadow: $shadow;
    }
  }
  .absolute-btn {
    position: absolute;
    bottom: 2em;
    right: 2em;
  }
}
