@import "../../constants/scss/colors";
@import "../../constants/scss/variables";
@import "../../constants/scss/mixins";

.container {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 1em 1em;
  border-radius: 1em;
  background-color: $success;
}
.containerErr {
  background-color: $danger;
}
.text {
  color: white;
  font-weight: 500;
  font-size: 1.6em;
  display: block;
  margin: auto;
}
