@import "../../constants/scss/colors";
@import "../../constants/scss/variables";
@import "../../constants/scss/mixins";

.blog-overview-post-preview-container {
  flex: 0 0 calc(100% / 2) !important;
  max-width: calc(100% / 2) !important;

  @include tablet() {
    flex: 0 0 calc(100% / 1) !important;
    max-width: calc(100% / 1) !important;
  }

  @include smartphone() {
    flex: 0 0 calc(100% / 1) !important;
    max-width: calc(100% / 1) !important;
  }
  padding: 1em;
  .blog-overview-post-preview {
    width: 100%;

    .tumbnail {
      background-size: cover;
      background-position: center;
      height: 40em;
      width: 100%;
      position: relative;
      box-shadow: $shadow;
      .for-parents-button {
        background-color: lighten($color: $oakGold, $amount: 10);
      }
      .for-siblings-button {
        background-color: lighten($color: $oakGold, $amount: 10);
      }
      .for-carers-button {
        background-color: lighten($color: $oakGold, $amount: 10);
      }
      .tag-button {
        position: absolute;
        padding: 1em 2em;
        font-size: 1.1em;
        top: -1em;
        left: 0;
        z-index: 1;
      }
      .title-container {
        padding: 2em 1em;
        background-color: $white;
        width: 90%;
        border-radius: 1em;
        margin-top: auto;
        margin-bottom: 2em;
        .title {
          font-family: "Archivo", sans-serif;
          font-size: 1.6em;
          cursor: pointer;
        }
        .time {
          font-size: 1.3em;
        }
      }
    }
    .hook {
      font-family: "Archivo", sans-serif !important;
      font-size: 1.4em;
      margin-bottom: 1.5em;
    }
  }
}
