@import "../../../constants/scss/colors";
@import "../../../constants/scss/variables";
@import "../../../constants/scss/mixins";

.sidebar-link-wrapper {
  width: 100%;
  .sidebar-link {
    padding: 0.2em 0.5em;
    transition: $cubicTransition;
    .sidebar-link-icon {
      transition: $cubicTransition;
      opacity: 0.6;
    }
    .sidebar-active-icon {
      opacity: 1;
    }
    .sidebar-link-text {
      transition: $cubicTransition;
      transform: scale(1);
      visibility: visible;
      opacity: 1;
      font-family: "FiraMedium";
      color: lighten($color: $black, $amount: 30);
    }
    .sidebar-active-text {
      color: $black;
    }
    .hide {
      visibility: hidden;
      opacity: 0;
      transform: scale(1.3);
    }
  }
}
