@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@300;400;500;700&family=DM+Serif+Display&display=swap');
$DM: 'DM Serif Display', serif;
$Archivo: 'Archivo', sans-serif;
$teal: #009ba7;
$grey: #a9a6a6;
$blue: #0aa7ff;
$purple: #ff0ac9;
$yellow: #ffba0a;
$pink: #ff34ba;

$oakGold: #cac492;
// $oakTeal: #41a196;

// Mixins
@mixin BGConfig($size, $position) {
  background-position: $position;
  background-size: $size;
  background-repeat: no-repeat;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $Archivo;
  font-weight: normal;
  // font-size: 18px;
  letter-spacing: normal;
}
#homePage {
  //   Section 2

  #intro {
    display: flex;

    .introTextContent {
      // background: #a15c5c;
      width: 60%;
      .quoteSrc {
        display: flex;
        align-items: center;
        .quote_dash {
          height: 0.75rem;
          width: 50px;
          background: $teal;
          margin-right: 1rem;
        }
        #quoteSource {
          font-size: 30px;
          font-family: $Archivo;
        }
      }
      #quote {
        font-family: $DM;
        text-transform: capitalize;
        font-size: 72px;
        font-weight: normal;
        margin-bottom: 2rem;
        line-height: 100px;
        letter-spacing: normal;
      }
      .homepageCallToAction {
        width: 65%;
        height: 170px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: space-between;
        #about {
          #btn {
            padding: 1rem;
            height: 73px;
            #icon {
              display: none;
            }
            p {
              margin-bottom: 0;
              color: white;
              max-width: none;
            }
          }
        }
      }
    }

    .introVideoButton {
      width: 40%;
      // background: rgb(201, 152, 152);

      .hexagon {
        height: 600px;
        width: 500px;
        background: url(../Assets/polygonVideoPlaceholder.svg);
        @include BGConfig(100%, top);
        position: relative;

        #play_btn {
          height: 125px;
          width: 125px;
          background: url(../Assets/playbutton.svg);
          @include BGConfig(100%, center);
          position: absolute;
          top: 32%;
          left: 37%;
          cursor: pointer;
        }
      }
    }
  }

  //   Section 2

  #whoAreYou {
    width: 100%;
    margin-bottom: 7rem;

    #whoAreYouContent {
      display: flex;
      justify-content: space-between;
      margin-top: 2rem;
      .AboutDeets {
        width: 100%;
        flex-grow: 2;
        .missionVision {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          margin-right: 4rem;

          #tagDetails {
            .tagColor {
              height: 1.5rem;
              min-width: 0.5rem;
              margin-right: 1rem;
              margin-top: 0.5rem;
            }
            .tagDeets {
              h3 {
                font-size: 28px;
              }
              p {
                min-width: 100%;
              }
            }
          }
        }
        h1 {
          font-family: $DM;
          font-size: 54px;
          font-weight: normal;
          line-height: 87px;
          margin: 2rem 0;
          text-transform: capitalize;
          width: 80%;
          letter-spacing: normal;
          // background: rgb(161, 131, 131);
        }
        p {
          font-family: $Archivo;
          font-size: 20px;
          font-weight: normal;
          line-height: 160.8%;
          margin-bottom: 4rem;
          color: $grey;
          max-width: 50%;
          // background: rgb(82, 58, 58);
        }
        .tagGroup {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          align-content: space-between;
          max-width: 410px;

          #btn {
            padding: 1rem;
            #icon {
              display: none;
            }
            p {
              margin-bottom: 0;
              color: white;
              max-width: none;
            }
          }
        }
      }
      .userCategories {
        position: relative;
        right: 0;
        top: 1rem;
        flex-grow: 1;
        min-width: 300px;
      }
    }
  }

  // Section3

  #RssCategories {
    margin-bottom: 7rem;
    #sectionTitle {
      font-family: $DM;
      font-size: 77px;
      font-weight: normal;
      text-transform: capitalize;
    }
    #sectionDetails {
      max-width: 60%;
      font-family: $Archivo;
      font-size: 18px;
      line-height: 160.8%;
      color: $grey;
      margin: 3rem 0 4rem 0;
    }
    .cards_mother {
      display: flex;
      flex-wrap: wrap;
      .rssCard {
        margin: 1rem;
        padding: 1.75rem;
        width: 600px;
        min-height: 400px;
        height: max-content;
        border-radius: 10px;
        .cardTitle {
          font-family: $Archivo;
          font-size: 33px;
          font-weight: bold;
        }
        .cardContent {
          margin: 2rem 0 4rem 0;
          width: 80%;
        }
        #learnMore_btn {
          width: max-content;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 1.5rem 3rem;
          border-radius: 300px;
          cursor: pointer;
          p {
            margin: 0;
            font-size: 22px;
            color: white;
          }
          .learnMore_icon {
            height: 25px;
            width: 25px;
            margin-left: 2rem;
            background: url(../Assets/rightIcon.svg);
            @include BGConfig(100%, center);
          }
        }
      }
      .churches {
        background: $oakGold;
        color: white;
        #learnMore_btn {
          background: $teal;
          border: 3px solid $oakGold;
        }
      }
      .parents {
        background: $teal;
        color: white;
        #learnMore_btn {
          background: $oakGold;
        }
      }
      .publicSpeaking {
        background: $teal;
        color: white;
        #learnMore_btn {
          background: $oakGold;
        }
      }
      .training {
        background: $oakGold;
        color: white;
        #learnMore_btn {
          background: $teal;
        }
      }
    }
  }

  //   Section 4

  #aboutFounder {
    .aboutContent {
      margin-top: 2rem;
      display: flex;
      width: 100%;

      #Q_A {
        // width: 150%;
        width: 30%;
        h1 {
          font-family: $DM;
          font-size: 2.5rem;
          line-height: normal;
          letter-spacing: normal;
        }
        p {
          //  margin-bottom: 2rem;
          font-family: $Archivo;
          font-weight: normal;
          font-size: 16px;
          line-height: 25px;
        }
      }
      #Founder {
        margin: 0 2rem;
        width: 40%;
        #founderImg {
          height: 500px;
          width: 500px;
          margin: 0 auto;
          background: url(../Assets/olufunke.svg);
          @include BGConfig(100%, center);
          border-radius: 300px 300px 0 0;
          position: relative;
          margin-bottom: 2rem;

          &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            background: #009ba782;
            border-radius: 300px 300px 0 0;
            height: 500px;
            width: 500px;
          }
        }
        // h1 {
        //   text-align: center;
        //   font-family: $DM;
        //   font-size: 90px;
        // }
      }
      #aboutFounder {
        width: 30%;
        flex-grow: 1;
        .founderDetails {
          margin-bottom: 2rem;
          font-family: $Archivo;
          font-weight: normal;
          font-size: 16px;
          line-height: 25px;
        }
      }
    }
  }

  //   Section 4

  #syllabusIntro {
    margin-top: 8rem;
    margin-bottom: 10rem;

    #syllabusIntroContent {
      display: flex;

      #syllabusIntroTitle {
        width: 50%;
        // background: rgb(146, 91, 91);
        h2 {
          font-family: $DM;
          font-weight: normal;
          font-size: 78px;
          text-transform: capitalize;
          margin: 3rem 0;
        }
      }
      #syllabusCards {
        #Card:nth-child(1) {
          margin: 4rem 0;
        }
        #Card:nth-child(2) {
          margin-left: 45%;
        }
      }
    }
  }
}

// Tablet

@media (min-device-width: 800px) and (max-device-width: 1280px) {
  // Homepage

  #homePage {
    #intro {
      margin-bottom: 7rem;
      .introTextContent {
        #quote {
          font-size: 48px;
          line-height: normal;
        }
        // a {
        //   #btn {
        //     padding: 0.25rem 1rem 0.25rem 0.25rem;
        //   }
        // }
      }
      .introVideoButton {
        .hexagon {
          height: 400px;
          width: 400px;
          @include BGConfig(80%, center);
        }
      }
    }

    #whoAreYou {
      min-height: 0;
      #whoAreYouContent {
        .AboutDeets {
          h1 {
            font-size: 36px;
            line-height: normal;
          }
        }
      }
    }

    #aboutFounder {
      .aboutContent {
        flex-direction: column;
        #Q_A {
          margin-bottom: 2rem;
          width: 100%;
        }
        #Founder {
          width: 100%;
          #founderImg {
            margin: 0 auto;
          }
          margin-bottom: 4rem;
        }
        #aboutFounder {
          width: 100%;
          #watchStory {
            margin: 0 auto;
          }
        }
      }
    }
    #syllabusIntro {
      // height: 40vh;
      #syllabusIntroContent {
        #syllabusIntroTitle {
          h2 {
            font-size: 36px;
          }
        }
        #syllabusCards {
          #Card:nth-child(1) {
            margin-bottom: 4rem;
          }
          #Card:nth-child(2) {
            margin-left: 0;
          }
        }
      }
    }
  }
}

// Mobile

@media only screen and (min-device-width: 300px) and (max-device-width: 800px) {
  #homePage {
    #intro {
      flex-direction: column-reverse;
      margin-bottom: 3rem;

      .introTextContent {
        width: 100%;
        .quoteSrc {
          #quoteSource {
            font-size: 18px;
          }
        }
        #quote {
          font-size: 24px;
          line-height: normal;
        }
      }
      .introVideoButton {
        width: 100%;
        .hexagon {
          height: 300px;
          width: 300px;
          @include BGConfig(70%, center);
          display: block;
          margin: 0 auto;

          #play_btn {
            height: 75px;
            width: 75px;
            background: url(../Assets/playbutton.svg);
            @include BGConfig(100%, center);
            position: absolute;
            top: 35%;
            left: 37%;
            cursor: pointer;
          }
        }
      }
    }

    #whoAreYou {
      margin-bottom: 1rem;
      #whoAreYouContent {
        flex-direction: column;
        .AboutDeets {
          h1 {
            font-size: 21px;
            line-height: normal;
          }
          p {
            max-width: 100%;
          }
        }
      }
    }

    #RssCategories {
      #sectionTitle {
        font-size: 48px;
        line-height: normal;
      }
      #sectionDetails {
        max-width: 100%;
      }
      .cards_mother {
        .rssCard {
          height: max-content;
          margin: 1rem 0;
          .cardTitle {
            font-size: 24px;
          }
          .cardContent {
            width: auto;
            margin: 2rem 0;
          }
          #learnMore_btn {
            p {
            }
            .learnMore_icon {
            }
          }
        }
      }
    }

    #aboutFounder {
      .aboutContent {
        flex-direction: column;
        #Q_A {
          width: 100%;
          margin-bottom: 2rem;
          h1 {
            font-size: 48px;
            line-height: normal;
            margin-bottom: 1rem;
          }
        }
        #Founder {
          width: 100%;
          margin: 0 auto;
          #founderImg {
            margin: 0 auto;
            height: 200px;
            width: 200px;

            &::before {
              height: 200px;
              width: 200px;
            }
          }
          h1 {
            font-size: 24px;
            text-align: center;
            margin-bottom: 1rem;
          }
          #btn {
            padding: 0.25rem 1rem 0.25rem 0.25rem;
          }
        }
        #aboutFounder {
          width: 100%;
          margin-top: 1rem;
        }
      }
    }

    #syllabusIntro {
      #syllabusIntroContent {
        flex-direction: column;
        #syllabusIntroTitle {
          margin-bottom: 2rem;
          h2 {
            font-size: 24px;
          }
          #btn {
            width: max-content;
            padding-right: 1rem;
            padding-left: 0;
          }
        }
        #syllabusCards {
          #Card {
            width: 300px;
            height: 225px;

            .cardContent {
              .classText {
                width: 100%;
              }
            }
          }
          #Card:nth-child(1) {
            margin-bottom: 4rem;
          }
          #Card:nth-child(2) {
            margin-left: 0;
          }
        }
      }
    }
  }
}
