$Archivo: 'Archivo', sans-serif;

#user_tag {
  background: green;
  width: max-content;
  padding: 0.5rem 1rem;
  width: max-content;
  font-family: $Archivo;
  font-size: 15px;
  font-weight: bold;
  color: white;
  //   margin: 1rem 0;
  text-align: center;
  cursor: pointer;
}
