$teal: #009ba7;

#ProgrammeCard {
  margin-top: 8rem;
  margin-left: 2rem;
  #dateTag {
    position: absolute;
    width: 219px;
    height: 60px;
    margin-top: -2rem;
    margin-left: -2rem;

    background: $teal;
    color: rgb(255, 255, 255);

    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    line-height: 22px;

    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.22px;
  }

  #card {
    width: 569px;
    height: fit-content;
    background: #ffffff;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);

    padding: 4rem 2rem;

    h2 {
      font-style: normal;
      font-weight: normal;
      font-size: 59px;
      line-height: 61px;

      letter-spacing: 0.22px;
      width: 80%;
    }

    p {
      font-style: normal;
      font-weight: normal;
      font-size: 22px;
      line-height: 33px;
      letter-spacing: 0.22px;

      color: rgba(0, 0, 0, 0.47);

      margin: 2rem 0;
    }
  }
  #Register {
    width: 240px;
    height: 60px;

    background: $teal;
    border-radius: 10px;
    color: white;
    cursor: pointer;

    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;

    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.22px;
  }
}


#Programmes {
  margin-bottom: 10rem;
  #ProgrammesIntro {
    display: flex;
    #Title {
      font-style: normal;
      font-weight: normal;
      font-size: 100px;
      line-height: 137px;
      color: #000000;
      width: 60%;
    }
    #calenderImage {
      width: 404px;
      height: 406px;
      background: url(../../Assets/images/Calendar.svg);
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: center;
      margin-left: 8rem;
    }
  }
  #programmesSection {
    #selectionNavBar {
      height: 6rem;
      width: 100%;
      margin-top: 6rem;
      border: 2px solid $teal;
      border-radius: 10px;

      display: flex;
      align-items: center;
      .programSelection {
        height: 3rem;
        width: max-content;
        margin-left: 2rem;
        padding: 0 2rem;
        border-radius: 10px;

        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;

        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.22px;

        color: #ffffff;
        cursor: pointer;
      }
    }

    #AvailiableProgrammes {
      display: flex;
      flex-wrap: wrap;
      #ProgrammeCard {
        margin-top: 8rem;
        margin-left: 2rem;
        #dateTag {
          position: absolute;
          width: 219px;
          height: 60px;
          margin-top: -2rem;
          margin-left: -2rem;

          background: $teal;
          color: rgb(255, 255, 255);

          font-style: normal;
          font-weight: 500;
          font-size: 19px;
          line-height: 22px;

          display: flex;
          align-items: center;
          justify-content: center;
          letter-spacing: 0.22px;
        }

        #card {
          width: 569px;
          height: fit-content;
          background: #ffffff;
          box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);

          padding: 4rem 2rem;

          h2 {
            font-style: normal;
            font-weight: normal;
            font-size: 59px;
            line-height: 61px;

            letter-spacing: 0.22px;
            width: 80%;
          }

          p {
            font-style: normal;
            font-weight: normal;
            font-size: 22px;
            line-height: 33px;
            letter-spacing: 0.22px;

            color: rgba(0, 0, 0, 0.47);

            margin: 2rem 0;
          }
        }
        #Register {
          width: 240px;
          height: 60px;

          background: $teal;
          border-radius: 10px;
          color: white;
          cursor: pointer;

          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          line-height: 22px;

          display: flex;
          align-items: center;
          justify-content: center;
          letter-spacing: 0.22px;
        }
      }

      #ProgrammeCard:nth-child(even) {
        margin-left: 6rem;
      }
    }
  }
}

// Tablet

@media (min-device-width: 800px) and (max-device-width: 1280px) {
  #Programmes {
    #ProgrammesIntro {
      #Title {
        font-size: 56px;
        line-height: normal;
      }
      #calenderImage {
        margin: 0 auto;
        width: 304px;
        height: 306px;
      }
    }
    #programmesSection {
      #selectionNavBar {
        .programSelection {
        }
        #current {
        }
        #past {
        }
      }
      #AvailiableProgrammes {
        #ProgrammeCard {
          #dateTag {
          }
          #card {
            h2 {
            }
            p {
            }
          }
          #Register {
          }
        }

        #ProgrammeCard:nth-child(even) {
          margin-left: 2rem;
        }
      }
    }
  }
}

// Mobile

@media only screen and (min-device-width: 300px) and (max-device-width: 800px) {
  #Programmes {
    #ProgrammesIntro {
      flex-direction: column-reverse;
      #Title {
        font-size: 36px;
        line-height: normal;
        width: 100%;
      }
      #calenderImage {
        margin: 0;
        width: 304px;
        height: 306px;
      }
    }
    #programmesSection {
      #selectionNavBar {
        width: 100%;
        margin-top: 3rem;
        .programSelection {
          font-size: 13px;
          margin-left: 1rem;
          padding: 0 0.5rem;
        }
        #current {
        }
        #past {
        }
      }
      #AvailiableProgrammes {
        #ProgrammeCard {
          #dateTag {
          }
          #card {
            width: 100%;
            h2 {
              font-size: 23px;
              line-height: normal;
            }
            p {
            }
          }
          #Register {
          }
        }

        #ProgrammeCard:nth-child(even) {
          margin-left: 2rem;
        }
      }
    }
  }
}
